{{ define "content" }}
  <div class="container post-list">
    <h1 class="section-header">Notes & Writings</h1>
    {{ if .Pages }}
      {{ range .Pages.ByDate.Reverse }}
        <article class="post-entry">
          <div class="post-header">
            <h2 class="post-title">
              <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h2>
            <time class="post-date">{{ .Date.Format "Jan 2, 2006" }}</time>
          </div>
          {{ with .Content }}
            <div class="post-excerpt">
              {{ index (split . "</p>") 0 | safeHTML }}
            </div>
          {{ end }}
        </article>
      {{ end }}
    {{ else }}
      <p class="no-posts">Nothing to see here. Yet.</p>
    {{ end }}
  </div>
{{ end }}
