{{ define "title" }}{{ .Title }} · {{ .Site.Title }}{{ end }}

{{ define "content" }}
  <div class="container post-list">
    <h1 class="section-header">{{ .Title }}</h1>
    {{ if .Pages }}
      {{ range .Pages.ByDate.Reverse }}
        <article class="post-entry">
          <time class="post-date" datetime="{{ .Date.Format "2006-01-02" }}">
            {{ .Date.Format "Jan 2, 2006" }}
          </time>
          <div class="post-entry-body">
            <h2 class="post-title">
              <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h2>
            {{ with .Description }}
              <p class="post-excerpt">{{ . }}</p>
            {{ end }}
          </div>
        </article>
      {{ end }}
    {{ else }}
      <p class="no-posts">Nothing to see here. Yet.</p>
    {{ end }}
  </div>
{{ end }}
